/OLD
/__pycache__
/save10
/save*
/spot_processing.log
/DIFFS
/#*#
/AA2IL.txt
/AA2IL.txt1
/*.LOG
/JUNK
*.adif
/*.log
/AA2IL_CQP_2022.LOG1
/AA2IL_CQP_2022.LOG2
/AA2IL_*.TXT
/lotwreport.adi
/upload_adif_log
