/OLD
/__pycache__
/save10
/save*
/spot_processing.log
/DIFFS
/#*#
/AA2IL.txt
/AA2IL.txt1
/*.LOG
/JUNK
*.adif
/*.log
/AA2IL_CQP_2022.LOG1
/AA2IL_CQP_2022.LOG2
/AA2IL_*.TXT
/lotwreport.adi
/upload_adif_log
/tqsl.txt
/QP/*
/AA2IL_ILQP_CW_2024.CBR
/AA2IL_MAKROTHEN-RTTY_2024.CBR
/AA2IL_NYQP_CW_2024.CBR
/AA2IL_CQ_JUL_VHF_SSBCW_2025.SAV
