###############################################################################
#
# Under uv:
#     cd ~/Python/contest
#     rm -r .venv/ pyproject.toml .python-version uv.lock
#     uv init
#     rm main.py
#     uv add -r requirements.txt
#
# Since we often run this script from another directory, embed the dependencies
# into the script itself:
#
#     uv add --script cabrillo.py -r requirements.txt
#
###############################################################################
#
# OLD method using miniconda:
#
# If necessary, activate the "sandbox:"
#
#  cd ~/Python/contest
#  conda activate aa2il
#
# Install the required libs:
#
# pip3 install -r requirements.txt
#
# We also need the "libs" and "data" directories which are available in this
# repository.
#
# Set the PYTHONPATH environment variable to point to where "libs" is installed,
# e.g. for csh/tcsh:
#
#     setenv PYTHONPATH $HOME/Python/libs
#
##############################################################################

matplotlib
pyserial
xlrd
unidecode
pyhamtools
numpy
scipy
pandas
levenshtein
chardet
psutil

# Need this for matplotlib back-end
pyqt6

